footer {
    width: 500px;
    background-color: #3C3550;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer strong {
    color: #FFF;
    font-size: x-large;
}

footer hr {
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF6;
}

footer div {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

footer div p {
    color: #FFF8;
    font-size: large;
    margin: 6px;
}