* {
  font-family: 'VT323', monospace;;
}

html{
  box-sizing: border-box;
  padding-top: 30px;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
}

.Container span {
  color: white;
  background-color: #3C355090;
  padding: 2px 8px;
  font-size: 24px;
  position: absolute;
  z-index: 2;
}

.GameBox {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #29F;
  overflow: hidden;
}